# Example: DB_FILE_PATH=C:\Users\sugarcube\Documents\Documents\Code-Server\Projects\VGPL\Graphora\dbupdater\customer.mdb
DB_FILE_PATH=
# Example: PSQL_URL=postgresql+asyncpg://user:password@host:5432/db
PSQL_URL=